* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}

.navbar, .header, .footer {
  background-color: #1F2937;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 18px;
  border: none;
  min-width: 100px;
  width: 128px;
}

img {
  max-width: 100%;
  width: 400px;
  margin: 48px 0;
}

/* navbar */

.navbar {
  height: 100px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: white;
}

/* header */ 

.header-text {
  max-width: 500px;
}

.header-text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.header-text p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 8px 0;
}

/* boxes section */

.boxes {
  text-align: center;
}

.boxes .container {
  padding-bottom: 60px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.boxes h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin: 24px;
}

.box-text {
  max-width: 150px;
}

.box {
  width: 150px;
  height: 150px;
  border: blue 3px solid;
  border-radius: 10px;
  margin: 0 auto;
}

/* quote section */
.quote-box {
  background: #E5E7EB;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  max-width: 800px;
  margin: 60px auto 0 auto;
  padding: 0 18px;
}

.author {
  font-weight: bold;
  font-size: 24px;
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 60px;
  padding: 0 18px;
}

/* call to action section */
.call-to-action .container {
  background-color: #3882F6;
  color: white;
  padding: 36px 72px;
  border-radius: 8px;
  margin: 48px auto;
  flex: 1 1 auto;
}

.cta-header {
  font-weight: bold;
  font-size: 18px;
}

.call-to-action button {
  border: white 2px solid;
}

/* footer */
.footer {
  color: white;
}

.footer p {
  margin: 20px 0;
  text-align: center;
}

@media(max-width: 768px) {
  .header .container {
    flex-direction: column;
    
  }
}